In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_json('../data/train.json')

In [12]:
np.array([np.array(band).astype(np.float32).reshape(75, 75) for band in df["band_1"]]).shape

(1604, 75, 75)

In [11]:
band1.shape

(55, 55, 75)

In [2]:
test1 = pd.DataFrame({'id': ['lisa','magnus','andreas'], 'B': [2,2,10]})
test2 = pd.DataFrame({'id': ['magnus', 'andreas', 'lisa'], 'A': [1,2,3]})

In [3]:
df = test1.merge(test2, on='id', how='inner')

In [4]:
df.stack()

0  B           2
   id       lisa
   A           3
1  B           2
   id     magnus
   A           1
2  B          10
   id    andreas
   A           2
dtype: object

In [5]:
df.loc[df.id == 'lisa'][['A', 'B']]

   A  B
0  3  2

In [17]:
test = [(k, v, l) for k, v,l in zip(df['A'].tolist(), [1,2,3], ['a', 'b', 'c'])]

In [18]:
test

[(3, 1, 'a'), (1, 2, 'b'), (2, 3, 'c')]

In [19]:
[(k,v) for k,v,_ in test]

[(3, 1), (1, 2), (2, 3)]